
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/contact.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


{% include "nav_footer/navbar.html" %}

<h1>Napisz do nas</h1>

<div class="contact-form">
    <form method="post" action="{% url 'contact' %}">
      {% csrf_token %}
      <label>Adres e-mail</label>
        {{ form.email }}
      <label>Temat wiadomości</label>
        {{ form.subject }}
      <label>Twoja wiadomość</label>
        {{ form.text }}
        <button type="submit" value="Submit">Wyślij wiadomość</button>
    </form>
</div>
{% include "nav_footer/footer.html" %}

