
{% load static %}

<head>
    <title>SHADOK | Wiadomość wysłana</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/contact_sent.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>


{% include "nav_footer/navbar.html" %}

<div class="info-container">
    <h1>Dziękujemy za wysłanie wiadomości</h1>
    <p>Postaramy się na nią odpowiedzieć najszybciej jak to będzie możliwe</p>
</div>

{% include "nav_footer/footer.html" %}
