{% extends "shop/base.html" %}
{% load static %}


{% block title %}
    Contact form
{% endblock %}



{% block content %}
<!--<section class="contact-form">-->
<!--<form class="" method="post">-->

<!--    {% csrf_token %}-->
<!--    <input name="email" type="text" class="feedback-input" placeholder="E-mail" required/>-->
<!--    <input name="subject" type="subject" class="feedback-input" placeholder="Subject" required/>-->
<!--    <textarea name="text" class="feedback-input" placeholder="Message" required></textarea>-->
<!--    <input type="submit" value="SUBMIT"/>-->
<!--</form>-->

<!--</section>-->

<form method="post" action="{% url 'contact' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>


{% endblock %}

