<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twój koszyk</title>
</head>
<body>


<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
      {% with product=item.product %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td><a href="{% url 'cart:cart_remove' product.id %}">Usuń produkt</a></td>
          <td>{{ item.price }}</td>
          <td>{{ item.total_price }}</td>
          <td>
            <form action="{% url 'cart:cart_remove' item.product.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
            </form>
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
    <tr class="total">
      <td>Wartość całkowita</td>
      <td colspan="4"></td>
      <td class="num">{{ cart.get_total_price }} zł</td>
    </tr>
  </tbody>
</table>

<p class="text-right">
  <a href="#" class="button">Do kasy</a>
</p>


</body>
</html>