{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/order_detail.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

{% include "shop/navbar.html" %}

<div class="header">
  <h1>Podsumowanie zamówienia</h1>
</div>
<div class="order-info">
  <ul>
    {% for item in cart %}
    <li>
      {{item.quantity }} x {{item.product.name}}
      <span>{{item.total_price}} zł</span>
      <br>1 x Dostawa InPost 8.99
    </li>
    {% endfor %}
  </ul>
  <p>Wartość całkowita: {{cart.get_total_price_after_discount_and_shipping}} zł</p>
</div>

<form action="." method="post" class="order-form">
  {{form.as_p}}
    <button type="submit" class="button1">Zamów</button>
  {% csrf_token %}
</form>


{% include "shop/footer.html" %}