{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Koszyk
{% endblock %}

{% block content %}
<h1>Koszyk</h1>
<table class="cart">
    <thead>
    <tr>
        <th>Zdjęcie</th>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Usuń</th>
        <th>Cena za sztuke</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        {% with product=item.product %}
    <tr>
        <td>
            <a href="{{product.get_absolute_url}}">
                <img src="{% if product.image %}
                {{product.image.url}}
                {% else %}
                {% static 'images/no-image.jpg' %}
                {% endif %}">
            </a>
        </td>
        <td>{{product.name}}</td>
        <td>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Zmień">
                {% csrf_token %}
            </form>
        </td>
        <td>
            <form action="{% url 'cart:cart_remove' product.id %}" method="post">
            <input type="submit" value="Remove">
            {% csrf_token %}
            </form>
        </td>
        <td class="num">{{item.price}}zł</td>
        <td class="num">{{item.total_price}}zł</td>
    </tr>
        {% endwith %}
    {% endfor %}

    {% if cart.coupon %}
        <tr class="subtotal">
            <td>Wartość całkowita</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} zł</td>
        </tr>
        <tr>
            <td>
                Kupon "{{ cart.coupon.code }}"
                ({{ cart.coupon.discount }}% rabatu)
            </td>
            <td colspan="4"></td>
            <td class="num neg">
                - {{ cart.get_discount|floatformat:"2" }} zł
            </td>
        </tr>
    {% endif %}
    <tr class="total">
        <td>Kwota do zapłaty</td>
        <td colspan="4"></td>
        <td class="num">
            {{ cart.get_total_price_after_discount|floatformat:"2"}} zł
        </td>
    </tr>


    </tbody>
</table>

<p>Kupon rabatowy:</p>
<form action="{% url 'coupons:apply' %}" method="post">
    {{ coupon_apply_form }}
    <input type="submit" value="Dodaj">
    {% csrf_token %}
</form>

<p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="buttonlight">Kontynuuj zakupy</a>
    <a href="{% url 'cart:order_create' %}" class="button">Przejdź do płatności</a>
</p>

{% endblock %}