<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>

<a href="/">Strona główna</a>

<h2 style="text-align: center">Produkt</h2>

<div style="text-align: center">
<p>{{product.name}}</p>
<p>{{product.stock}}</p>
<p>{{product.available}}</p>
<p>{{product.price}}</p>
<p>{{product.description}}</p>
<img src="{{product.image.url}}">
</div>


<h2 style="text-align: center">Komentarze</h2>

<a href="#">Dodaj komentarz. OBECNIE NIE DZIAŁA!</a>

{%if not product.comments.all %}
    <h4>There is no comments yet</h4>

{% else %}
    {% for comment in product.comments.all %}

        <div style="text-align: center">
            <p>{{comment.user_name}}</p>
            <p>{{comment.subject}}</p>
            <p>{{comment.text}}</p>
            <p>{{comment.sent_date}}</p>
        </div>
    {% endfor %}
{% endif %}

</body>
</html>