.info-container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

.info-container h1 {
    font-size: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFCD00;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.75);
}

.info-container p {
    text-align: center;
    font-weight: 800;
}

.links {
    display: grid;
    align-items: center;
    justify: center;
}
