@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat';
	scroll-behavior: smooth;
}

main {
    background-color: #1b1d1e;
}


@media only screen and (max-width: 768px) {
    html,
    body{
    width:100%;
    overflow-x:hidden;
    }
}

/* ===== NAVIGATION BAR ===== */

#nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: #181a1b;
}
.nav-bar {
    background-color: #181a1b;
	left: 0;
	top: 0;
	padding: 1rem 5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-bar .brand a {
    font-family: 'Flash Back - Demo', sans-serif;
    font-size: 3rem;
    text-decoration:none;
    color: white;

}

.nav-bar .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar .nav-list .hamburger {
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100px;
	transition: .3s ease transform;
	cursor: pointer;
}
.nav-bar .nav-list .hamburger.active {
	transform: rotate(360deg);
}
.nav-bar .nav-list .hamburger.active .bar:before {
	top: 0;
	transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger.active .bar:after {
	top: 0;
	transform: rotate(-45deg);
}
.nav-bar .nav-list .hamburger.active .bar {
	background-color: transparent;
}
.nav-bar .nav-list .hamburger .bar {
	height: 2px;
	width: 30px;
	background-color: white;
	position: relative;
	display: flex;
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	transition: .3s ease all;
}
.nav-bar .nav-list .hamburger .bar::before {
	top: 8px;
}
.nav-bar .nav-list .hamburger .bar::after {
	bottom: 8px;
}
.nav-bar .nav-list ul {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(46, 45, 45);
	padding: 5rem 0;
	transform: translateY(-100%);
	transition: .3s ease transform;
	text-align: center;
	z-index: -1;
}
.nav-bar .nav-list ul li {
	list-style: none;
	display: block;
	position: relative;
}
.nav-bar .nav-list ul li:hover:after {
	transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after {
	content: '';
	position: absolute;
	width: 5rem;
	height: .2rem;
	background-color: white;
	left: 50%;
	transform: translateX(-50%) scale(0);
	bottom: 0;
	transition: .3s ease transform;
}
.nav-bar .nav-list ul li a {
	font-size: 1.8rem;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	display: block;
	letter-spacing: .15rem;
	padding: 2rem 3rem;
}
.nav-bar .nav-list.open ul {
	transform: translateY(90px);
}

/* Media query for desktop and tab  */
@media only screen and (min-width: 768px) {
	.nav-bar .nav-list .hamburger {
		display: none;
	}
	.nav-bar {
		width: 100%;
	}
	.nav-bar .nav-list ul {
		transform: translateX(0);
		position: initial;
		padding: 0;
		z-index: initial;
		background-color: transparent;
	}
	.nav-bar .nav-list ul li {
		display: inline-block;
	}
}

/* ===== END OF NAVIGATION BAR ===== */




.contact-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.feedback-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.feedback-input:focus {
  border-color: #3498db;
}

textarea.feedback-input {
  height: 150px;
  resize: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #3498db;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}




/* ===== FOOTER SECTION ===== */

.footer {
    position: relative;
	min-height: 20vh;
	width: 100%;
	background-color: #181a1b;
	color: white;
	flex-direction: column;
	text-align: center;
	padding: 5rem;
}
.footer .footer-contact {
	padding: 20px;
}
.footer .footer-contact .footer-contact-heading {
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.footer .footer-contact .footer-contact-info {
	font-size: 1.4rem;
	padding-top: 10px;
	letter-spacing: .2rem;
}
.footer .footer-social-follow .footer-social-icon a {
	color: white;
	font-size: 3rem;
	margin: .4rem;
	display: inline-block;
	flex-direction: column;
}

.footer .footer-social-follow .footer-social-icon a:hover {
    color: #FF7825;

}

/* ===== END OF FOOTER SECTION ===== */
