h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.responsive-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.form-row {
  display: grid;
  width: 100%;
  margin-bottom: 200px;
}

label {
  text-align: center;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}


@media screen and (max-width: 800px) {
  input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
  }
}



.form-row .messages {
    color: red;
    text-align: center;
}

.delete-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

input[type='submit']{
    background: #FF1A1A;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

input[type='submit']:hover {
    background: #FF3333;
}
