@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

/* ===== BANNER ===== */


.banner {
  background: #DC6C02;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 50px;
}

.banner__content {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner__text {
  flex-grow: 1;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
}

.banner__close {
  background: none;
  border: none;
  cursor: pointer;
}

.banner__text,
.banner__close > span {
  color: #ffffff;
}

/* ===== BANNER ===== */


.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
  padding: 0 15px 0 45px;
  text-decoration: none;
  color: #FFCD00;
}

.nav .logo:hover {
  color: #bf8c00;
}

.nav .nav-links {
  column-gap: 35px;
  font-size: 20px;
  list-style: none;
}

.nav .nav-links li {
  padding-top: 0px;
}





.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown .dropdown-links {
  color: black;
  text-decoration: none;
  display: block;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user-dropdown-content .dropdown-links {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: black;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
}





.nav .nav-links a {
  transition: all 0.2s linear;
  text-decoration: none;
  padding: 0 15px -5 45px;
  color: #FFCD00;
  cursor: pointer;
}

.nav .nav-links a:hover {
  color: #bf8c00;
}


.nav .nav-links sup {
  color: red;
  font-weight: 1000;
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #FFCD00;
  font-size: 20px;
  cursor: pointer;
}

.nav .search-icon:hover {
  color: #bf8c00
}

.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #FFCD00;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: black;
  color: white;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #FFCD00;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFCD00;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}
