html {
	font-family: 'Montserrat';
	scroll-behavior: smooth;
}

/* ===== PRODUCT FILTER SECTION ===== */

.filters {
    border-radius: 5px;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.filters li {
    list-style-type: none;
}

.filters input[type=number], select {
    width: 15%;
    padding: 14px 20px;
    margin: 8px 0;
    display: columns;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.filters input[type=submit] {
    width: 15%;
    color: black;
    padding: 14px 20px;
    background-color: #FFCD00;
    border: none;
    color: black;
    font-weight: 600;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.filters input[type=submit]:hover {
    background-color: #e8bb05;
}

/* Add a media query for screens smaller than 768px */
@media only screen and (max-width: 1650px) {
    .filters {
        width: 80%;
    }

    .filters li {
        flex-direction: column;
    }

    .filters input[type=number], select {
        width: 100%;
    }

    .filters input[type=submit] {
        width: 100%;
        margin-top: 10px;
    }
}


/* ===== PRODUCT FILTER SECTION ===== */

/* ===== PRODUCT LIST SECTION ===== */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px,    1fr));
  grid-gap: 20px;
  }
.grid article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid article img {
  max-width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.text {
  padding: 0 20px 20px;
}

.text a {
  text-decoration: none;
  color: black;
}

.text .product-price {
  border: 0;
  font-size: 25px;
  color: red;
  width: 100%;
  bottom: 0;
}

/* ===== PRODUCT LIST SECTION ===== */


/* ===== PAGINATION SECTION ===== */

.pagintion-container p {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.text form input {
    background-color: #FFCD00;
    border: none;
    color: black;
    font-weight: 600;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;

}

.text form input:hover {
    background-color: #e8bb05;
}

.text form select{
    display: none;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* ===== PAGINATION SECTION ===== */


@media (max-width: 1276px) {
    .grid img{
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px,    1fr));
      grid-gap: 20px;
    }
}
