{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{product.name}}
{% endblock %}



{% block content %}
<br><br><br>

    <div class="product-detail">
        <img src="{% if product.image %}
                {{product.image.url}}
                {% else %}
                {% static 'images/no-image.jpg' %}
                {% endif %}">
        <h1>{{product.name}}</h1>
        <a href="{% url 'shop:product_rate' product.id product.slug %}">Rate</a>
        <h2><a href="{{product.category.get_absolute_url}}">{{product.category}}</a></h2>
        <p class="price">{{product.price}}zł</p>

        <h3 style="text-align:center">Opinie o produkcie</h3>
        <h4 style="text-align:center">Średnia ocen: {{ average_rating.rate__avg }}</h4>


        <form method="GET" action="{% url 'shop:product_detail' product.id product.slug %}">
            {% csrf_token%}
            {{rate_filter.form}}
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>

        {% if rate_filter.qs.count %}
            {% for rate in rate_filter.qs %}
            <div class="rate" style="text-align:center">
                {{ rate.text }}
                {{ rate.rate }}
            </div>
            {% endfor %}
        {% else %}
            <p style="text-align:center">Ten produkt nie ma jeszcze żadnych opinii lub opinia którą wybrałeś nie istnieje.</p>
        {% endif %}

        <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {{cart_product_form}}
        {% csrf_token %}
        <input type="submit" value="Dodaj do koszyka">
        </form>


        {{product.description|linebreaks}}
    </div>



{% endblock %}