{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %} {{category.name }} {% else %} Produkty {% endif %}
{% endblock %}
{% block content %}

<br><br><br>
<!-- To odpowiada za wyświetlanie filtra ceny i kategorii -->

<form method="GET" action="{% url 'shop:product_list' %}">
  {% csrf_token %}
  <label>Cena mniejsza od:</label>
  {{ form.price__lt }}
  <br>
  <label>Cena większa od:</label>
  {{ form.price__gt }}
  <br>
  <label>Kategoria:</label>
  {{ form.category }}
  <input type="submit" value="Submit">
</form>

<!-- To odpowiada za wyświetlanie filtra ceny i kategorii -->

<div>
    <div id="main" class="product-list">
        <h1>Produkty</h1>
        {% for product in products_list %}
        <div class="item">
            <a href="{{c.get_absolute_url}}">
                <img src="{% if product.image %}
                {{product.image.url}}
                {% else %}
                {% static 'images/no-image.jpg' %}
                {% endif %}">
            </a>
            <a href="{{product.get_absolute_url}}">{{product.name}}</a>
            <br>
            {{product.price}} zł


        </div>
        {% endfor %}
    </div>
</div>

{% if products_list.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{products_list.previous_page_number}}">Previous</a>
{% endif %}

Page {{ products_list.numer }} of {{ products_list.paginator.num_pages }}

{% if products_list.has_next %}
    <a href="?page={{products_list.next_page_number}}">next</a>
    <a href="?page={{products_list.paginator.num_pages}}">last</a>

{% endif %}

{% endblock content %}