
{% load static %}
<head>
    <title>SHADOK | Strona główna</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/product_list.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<!-- Navigation Bar -->
{% include "nav_footer/navbar.html"%}
<!-- Navigation Bar -->


<!-- To odpowiada za wyświetlanie filtra ceny i kategorii -->
<div class="filters">
    <form method="GET" action="{% url 'shop:product_list' %}" class="inline-form">
      {% csrf_token %}
      <ul>
          <li>
              <label>Cena mniejsza od:</label>
              {{ form.price__lt }}
              <label>Cena większa od:</label>
              {{ form.price__gt }}
              <label>Kategoria:</label>
              {{ form.category }}
              <input type="submit" value="Submit">
          </li>
      </ul>
    </form>
</div>
<!-- To odpowiada za wyświetlanie filtra ceny i kategorii -->


<!-- PRODUCTS -->

<div class="grid">
  {% for product in products_list %}
  <article>
      <a href="{{product.get_absolute_url}}">
      <img src="{% if product.image %}
                {{product.image.url}}
                {% else %}
                {% static 'images/no-image.jpg' %}
                {% endif %}">
      </a>
    <div class="text">
      <a href="{{product.get_absolute_url}}">
        <h4 class="product-name">{{product.name|truncatechars:100}}</h4>
      </a>
        <p class="product-price"><strong>{{product.price}} zł</strong></p>

        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{cart_product_form}}
            {% csrf_token %}
            <input type="submit" value="Dodaj do koszyka">
        </form>
    </div>
  </article>
   {% endfor %}
</div>




<!-- PRODUCTS -->


<!-- PAGINATOR -->

<div class="pagintion-container">
        <div class="pagination">

        {% if products_list.has_previous %}
            <a href="?page=1"> << </a>
            <a href="?page={{products_list.previous_page_number}}"> < </a>
        {% endif %}

        {% if products_list.has_next %}
            <a href="?page={{products_list.next_page_number}}"> > </a>
            <a href="?page={{products_list.paginator.num_pages}}"> >> </a>
        {% endif %}
        </div>
    <p>Strona: {{ products_list.number }} z {{ products_list.paginator.num_pages }}</p>

</div>
<!-- PAGINATOR -->



<!-- Footer -->
{% include "nav_footer/footer.html" %}
<!-- Footer -->
