
{% load static %}


{% include "shop/navbar.html" %}
<br><br><br>

  {% if products %}
    <ul>
      {% for product in products %}
        <li>
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
          <img src="{% if product.image %}
          {{product.image.url}}
          {% else %}
          {% static 'images/no-image.jpg' %}
          {% endif %}">
          <p>Price: {{ product.price }} zł</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There is no results for this :(</p>
  {% endif %}
{% include "shop/footer.html" %}