
{% load static %}

<head>
    <title>SHADOK | O nas</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/about.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>


{% include "nav_footer/navbar.html" %}

<section id="about" class="about container">
    <div class="about-info">
        <h1 class="about-info-heading">SHADOK</h1>

    </div>

    <div class="row">
        <div class="left">
            <img src="{% static 'images/shop_image.jpg' %}">
        </div>

        <div class="right">
            <div class="content">
                  {% if about_desc %}
                  <p class="description">{{about_desc}}</p>
                  {% else %}
                  <p class="description">Przykro nam, niestety nic tu nie ma...</p>
                  {% endif %}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.24130544849!2d-77.02737474865877!3d38.89559685455422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b79a7e96a279%3A0x9597136898411ea!2sFederalne%20Biuro%20%C5%9Aledcze!5e0!3m2!1spl!2sde!4v1672227034945!5m2!1spl!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>

    </div>
</section>


{% include "nav_footer/footer.html" %}
