
{% load static %}
<head>
    <title>SHADOK | API</title>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<!-- Navigation Bar -->
{% include "nav_footer/navbar.html" %}
<!-- Navigation Bar -->

<br><br><br><br><br><br>
<h1>Wszystkie dostępne api</h1>
<a href="{% url 'api_data:data_product' %}">Product data</a>
<a href="{% url 'api_data:add_product' %}">Add product</a>
<a href="{% url 'api_data:data_category' %}">Category data</a>
<a href="{% url 'api_data:add_category' %}">Add category</a>
<a href="{% url 'api_data:data_coupon' %}">Coupon data</a>
<a href="{% url 'api_data:add_coupon' %}">Add coupon</a>
<a href="{% url 'api_data:data_order' %}">Order data</a>
<a href="{% url 'api_data:data_order_item' %}">Order Item data</a>
<a href="{% url 'api_data:data_delivery' %}">Delivery data</a>
<a href="{% url 'api_data:add_delivery' %}">Add delivery</a>

<!-- Footer -->
{% include "nav_footer/footer.html" %}
<!-- Footer -->