{% load static %}

<head>
    <title>SHADOK | Dokumenty</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/shop_info.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

{% include "nav_footer/navbar.html" %}

<div class="info">
    <a href="{% static '/pdf/regulamin.pdf' %}">Sprawdź regulamin sklepu</a>
    <a href="{% static '/pdf/zwrot.pdf' %}">Sprawdź regulamin zwrotów</a>
    <a href="{% static '/pdf/regulamin.pdf' %}">Sprawdź politykę prywatności</a>
</div>
{% include "nav_footer/footer.html" %}
