{% load static %}

<head>
    <title>SHADOK | FAQ</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/faq.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

{% include "nav_footer/navbar.html" %}

<div class="info">
  <h1>Najczęściej zadawane pytania</h1>
  <p>1. Ile trwa realizacja zamówienia?</p>
  <strong>Prawie wszystkie zamówienia realizowane są od razu. Zależy
        nam na czasie w jakim klienci otrzymują swoje zamówienia</strong>
</div>

{% include "nav_footer/footer.html" %}
