{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/payment_done.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

{% include "shop/navbar.html" %}

<div class="info">
    <h1>Twoja płatność została potwierdzona</h1>
    <p>Twoje zamówienie zostanie wysłane najszybiej jak to możliwe</p>
</div>
{% include "shop/footer.html" %}