{% load static %}

<head>
    <title>SHADOK | Zamówienie złożone</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/payment_done.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

{% include "nav_footer/navbar.html" %}

<div class="info">
    <h1>Twoja płatność została potwierdzona</h1>
    <p>Twoje zamówienie zostanie wysłane najszybiej jak to możliwe</p>
</div>
{% include "nav_footer/footer.html" %}
