{% load static %}

<head>
    <title>SHADOK | PayPal</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/payment_process.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


{% include "nav_footer/navbar.html" %}

<div class="payment-form">
    <h1>Zapłać poprzez PayPal</h1>
    {{ form.render }}
</div>
{% include "nav_footer/footer.html" %}
