{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<!-- Navigation Bar -->
{% include "shop/navbar.html" %}
<!-- Navigation Bar -->


<!-- LOGIN FORM -->

<h1>Zaloguj się</h1>


<form method="POST" action="">
	{% csrf_token %}
    <div class="form-row">
    <label for="username">Nazwa użytkownika</label>
	<input type="text" name="username">
    <label for="password">Hasło</label>
	<input type="password" name="password">

    {% for message in messages %}
    <div class="messages">
        <p>{{message}}</p>
    </div>
    {% endfor %}

	<div class="login-button">
	    <input type="submit" value="Login">
    </div>
    </div>
</form>

<div class="register-button">
    <a href="{% url 'accounts:register' %}">Zarejestruj się</a>
    <a href="{% url 'accounts:reset' %}">Zmień hasło</a>

</div>


<!-- Footer -->
{% include "shop/footer.html" %}
<!-- Footer -->



