{% load static %}

<head>
    <title>SHADOK | Zmień hasło</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<!-- Navigation Bar -->
{% include "nav_footer/navbar.html" %}
<!-- Navigation Bar -->


<!-- LOGIN FORM -->

<h1>Zmień hasło</h1>


<form method="POST" action="">
    {% csrf_token %}
    <div class="form-row">
        <label for="id_email">Adres email</label>
        <input id="id_email" type="email" name="email">

        <label for="id_old_password">Stare hasło</label>
        <input id="id_old_password" type="password" name="old_password">

        <label for="id_new_password">Nowe hasło</label>
        <input id="id_new_password" type="password" name="new_password">

        {% for message in messages %}
        <div class="messages">
            <p>{{message}}</p>
        </div>
        {% endfor %}
        <div class="reset-button">
            <input type="submit" value="Zmień hasło">
        </div>
    </div>

</form>


<!-- Footer -->
{% include "nav_footer/footer.html" %}
<!-- Footer -->
