
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} SHADOK COM {% endblock %}</title>
    <link href="#">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>



</head>
<body>

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class='fas fa-bars'></i>
        </label>
        <label class="logo">SHADOK COM</label>
        <ul>
            <li><a class="active" href="#">Strona główna</a></li>
            <li><a href="/about">O sklepie</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </nav>

<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
        Koszyk:
        <a href="{% url 'cart:cart_detail' %}">
            {{total_items}} produkt {{total_items|pluralize:'y'}},
            {{cart.get_total_price}} zł
        </a>
            {% else %}
                Koszyk jest pusty
            {% endif %}
        {% endwith %}
    </div>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>