
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} SHADOK COM {% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

</head>
<body>



<nav class="nav">
      <i class="uil uil-bars navOpenBtn"></i>
      <a href="{% url 'shop:product_list' %}" class="logo">SHADOK</a>

      <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="{% url 'shop:product_list' %}">Produkty</a></li>
        <li><a href="{% url 'shop:about_us' %}">O sklepie</a></li>
        <li><a href="{% url 'contact' %}">Kontakt</a></li>
        {% with total_items=cart|length %}
          {% if cart|length > 0 %}
          <li><a href="{% url 'cart:cart_detail' %}">Koszyk <sup>{{ total_items }}</sup></a></li>
          {% else %}
          <li><a href="{% url 'cart:cart_detail' %}">Koszyk</a></li>
          {% endif %}
        {% endwith %}
      </ul>

      <i class="uil uil-search search-icon" id="searchIcon"></i>
      <div class="search-box">
        <form method="get" action="{% url 'shop:search' %}">
        <i class="uil uil-search search-icon"></i>
        <input name="q" type="text" placeholder="Wyszukaj produkt..." />
        </form>
      </div>
</nav>


<div id="content">
    {% block content %}
    {% endblock %}
</div>


<footer>
    <section class="container">
        <div class="about">
            <h3>O nas</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        <div class="services">
            <h3>Obsługa</h3>
            <ul>
                <li>
                    <a href="{% url 'shop:about_us' %}">O nas</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Kontakt</a>
                </li>
                <li>
                    <a href="#">Regulamin</a>
                </li>
                <li>
                    <a href="#">Polityka prywatności</a>
                </li>
            </ul>
        </div>

        <div class="orders">
            <h3>Obsługa</h3>
            <ul>
                <li>
                    <a href="#">Dostawa</a>
                </li>
                <li>
                    <a href="#">Zwroty i reklamacje</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>

        <div class="contact">
            <h3>Kontakt</h3>
            <ul>
                <li>
                    Adres: 935 Pennsylvania Avenue NW, Washington, DC 20535, Stany Zjednoczone
                </li>
                <li>
                    Numer telefonu: 123-123-123
                </li>
                <li>
                    Email: bestshop@gmai.com
                </li>
            </ul>
        </div>
    </section>
    <section class="copyright">Copyright: Kacper Włodarczyk</section>
</footer>


<script>
const nav = document.querySelector(".nav"),
  searchIcon = document.querySelector("#searchIcon"),
  navOpenBtn = document.querySelector(".navOpenBtn"),
  navCloseBtn = document.querySelector(".navCloseBtn");

searchIcon.addEventListener("click", () => {
  nav.classList.toggle("openSearch");
  nav.classList.remove("openNav");
  if (nav.classList.contains("openSearch")) {
    return searchIcon.classList.replace("uil-search", "uil-times");
  }
  searchIcon.classList.replace("uil-times", "uil-search");
});

navOpenBtn.addEventListener("click", () => {
  nav.classList.add("openNav");
  nav.classList.remove("openSearch");
  searchIcon.classList.replace("uil-times", "uil-search");
});
navCloseBtn.addEventListener("click", () => {
  nav.classList.remove("openNav");
});

</script>

</body>
</html>